{% spaceless %}
    <div class="initial-loader-container">
        <div class="initial-loader">
            <div class="loader">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>
    <div class="app-container">
        <div class="header-container" id="header"></div>
        <div class="body-container container" id="body"></div>
    </div>
{% endspaceless %}