{% spaceless %}
    <div class="col-12">
        <h1>Cookies</h1>
        <h3>What Cookies Are</h3>
        <p>
            Cookies are small files stored on your computer by your web browser (such as Internet Explorer or Firefox) at
            the request of a site you&#39;re viewing. This allows the site you&#39;re viewing to remember things about you,
            such as your preferences and history or to keep you logged in.
        </p>
        <p>
            Cookies may be stored on your computer for a short time (such as only while your browser is open) or for an
            extended period of time, even years. Cookies not set by this site will not be accessible to us.
        </p>
        <h3>Our Cookie Usage</h3>
        <p>This site uses cookies for numerous things, including:</p>
        <ul>
            <li>Analytics. This allows us to determine how people are using the site and improve it.</li>
            <li>
                Advertising cookies (possibly third-party). If this site displays advertising, cookies may be set by the
                advertisers to determine who has viewed an ad or similar things. These cookies may be set by third parties,
                in which case this site has no ability to read or write these cookies.
            </li>
            <li>Other third-party cookies for things like Facebook or Twitter sharing. These cookies will generally be
                set by the third-party independently, so this site will have no ability to access them.
            </li>
            <li>Your language preference.</li>
        </ul>
        <h3>Removing/Disabling Cookies</h3>
        <p>
            Managing your cookies and cookie preferences must be done from within your browser&#39;s options/preferences.
            Here is a list of guides on how to do this for popular browser software:
        </p>
        <ul>
            <li><a href="http://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies" target="_blank">Internet Explorer</a></li>
            <li><a href="http://support.mozilla.org/kb/cookies-information-websites-store-on-your-computer" target="_blank">Firefox</a></li>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Chrome</a></li>
            <li><a href="http://support.apple.com/kb/PH17191" target="_blank">Safari</a></li>
            <li><a href="http://www.opera.com/help/tutorials/security/privacy/" target="_blank">Opera</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
{% endspaceless %}