@-webkit-keyframes scroll_indicator_pulse {
  0%   { background-color: #fff10d; }
  50% { background-color: #4eff3c; }
  100% { background-color: #fff10d; }
}
@keyframes scroll_indicator_pulse {
  0%   { background-color: #fff10d; }
  50% { background-color: #4eff3c; }
  100% { background-color: #fff10d; }
}

@-webkit-keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}