@import "mixins", "animations", "global_styles";

html {
  height: 100%;
  &.locked {
    overflow: hidden!important;
  }
  body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #fffbff;
    color: #0e0e0e;
    &>.app-container {
      height: 100%;
      &>.header-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include gradientBackground( #ffffff, #f7f7f7);
        border-top: 1px solid rgba(0,0,0, .1);
        border-bottom: 1px solid rgba(0,0,0, .1);
        &>.app-header {
          background-color: inherit;
          border: none;
          padding: 0;
          .navigation {
            /*margin-left: -15px;
            margin-right: -15px;*/
            .navbar {
              list-style-type: none;
              padding-left: 0;
              margin: 0;
              display: inline-block;
              &.nav-left {
                float: left;
              }
              &.nav-right {
                float: right;
              }
              &>li {
                display: inline-block;
                border-right: 1px solid rgba(0,0,0, .1);
                &>a {
                  @include gradientBackground( #ffffff, #f7f7f7);
                  @include transition( color, .2s, ease-in-out );
                  display: inline-block;
                  text-decoration: none;
                  font-weight: bold;
                  padding: 15px 20px;
                  font-size: 20px;
                  color: rgba(222, 222, 222, 0.7);
                  &:hover {
                    text-decoration: none;
                    color: rgba(0, 128, 128, 0.85);
                  }
                  &:active {
                    background: #f7f7f7;
                  }
                  &.active {
                    color: rgba(0, 128, 128, 1);
                  }
                }
                &.logo {
                  &>a {
                    @include gradientBackground( #008080, #007777);
                    padding: 0;
                    &>img {
                      vertical-align: middle;
                    }
                  }
                }
              }
              &.languages {
                margin-right: 20px;
                li {
                  border: none;
                  padding: 18px 5px;
                  &>img {
                    cursor: pointer;
                    &.shaking {
                      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                      transform: translate3d(0, 0, 0);
                      backface-visibility: hidden;
                      perspective: 1000px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &>.body-container {
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        padding-top: 61px;
      }
    }
    &>.footnote-container {
      position: fixed;
      width: 280px;
      bottom: 10px;
      right: 10px;
      background-color: #000000;
      color: #ffffff;
      &>.footnote {
        position: relative;
        padding: 20px 30px;
        &>.close {
          width: 20px;
          height: 20px;
          text-align: center;
          position: absolute;
          color: #FFFFFF;
          padding: 4px;
          top: 5px;
          right: 10px;
          opacity: 1;
          font-weight: normal;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            @include border-radius( 15px );
            background-color: #ffffff;
            color: #000000;
          }
        }
        &>.message {
          text-align: center;
        }
      }
    }
    &>.modal-container {

    }
  }
}