{% spaceless %}
    <div class="col-12">
        <h1 class="text-center" translatable="sh"></h1>
    </div>
    <div class="col-4 pull-left a_container">
        {% image '@MD5BusterBundle/Resources/public/images/ad_placeholder.png' output='images/ad_placeholder.png' %}
            <img src="{{ asset_url }}"  />
        {% endimage %}
    </div>
    <div class="col-8 pull-left">
        <h2 translatable="dp.si"></h2>
        <blockquote translatable="dp.wq"></blockquote>
        <p>
            <i translatable="dp.qf"></i>&nbsp;
            <a href="https://en.wikipedia.org/wiki/MD5" target="_blank"><i>Wikipedia</i></a>
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-8 pull-left">
        <h2 translatable="bd.ld"></h2>
        <p translatable="dp.ld.p1"></p>
        <p translatable="dp.ld.p2"></p>
        <p translatable="dp.ld.p3"></p>
        <form target="" method="post" class="decrypt-form" id="decrypt-form">
            <fieldset id="main-fieldset">
                <div class="form-group">
                    <label for="hash" translatable="dp.ph"></label>
                    <input type="text" name="hash" id="hash" placeholder="|" required="required" />
                    <span class="field-error" translatable="dp.imh"></span>
                </div>
                <div class="form-group">
                    <label for="recaptcha" translatable="dp.sc"></label>
                    <div class="recaptcha" data-sitekey="{{ recaptcha_site_key }}" id="decrypt-recaptcha"></div>
                    <span class="field-error" translatable="dp.csc"></span>
                </div>
                <div class="form-group">
                    <ul class="button-container"><li><a href="#" translatable="Decrypt" id="submit-button"></a></li></ul>
                </div>
            </fieldset>
            <fieldset class="loading" id="loading-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <div class="loader">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="result" id="result-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <fieldset class="subject">
                            <legend>Hash</legend>
                            <h5 class="text-center" id="text-to-decrypt"></h5>
                        </fieldset>
                        <h2 translatable="Results"></h2>
                        <div id="results-area"></div>
                        <div class="form-group">
                            <ul class="button-container"><li><a href="#" translatable="dp.ns" id="new-search-button"></a></li></ul>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="error" id="error-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <h2 class="text-center" translatable="dp.swr"></h2>
                        <h3 class="text-center" id="ajax-error"></h3>
                        <div class="form-group">
                            <ul class="button-container"><li><a href="#" translatable="dp.ta" id="try-again-button"></a></li></ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-4 pull-left a_container">
        {% image '@MD5BusterBundle/Resources/public/images/ad_placeholder_300_600.png' output='images/ad_placeholder_300_600.png' %}
            <img src="{{ asset_url }}"  />
        {% endimage %}
    </div>
    <div class="clearfix"></div>
{% endspaceless %}