{% spaceless %}
    <div class="close" id="dismiss">&#10006;</div>
    <div class="message">
        <span translatable="cm"></span>
        <a href="{{ '/cookies' }}">More info</a>
    </div>
{% endspaceless %}