{% spaceless %}
    <div class="col-12">
        <h2 translatable="cp.cu"></h2>
    </div>
    <div class="col-8 pull-left">
        <p translatable="cp.p1"></p>
        <p translatable="cp.p2"></p>
        <p translatable="cp.p3"></p>
        <form target="" method="post" class="contact-form" id="contact-form">
            <fieldset id="main-fieldset">
                <div class="form-group">
                    <label for="name" translatable="cp.n"></label>
                    <input type="text" name="name" id="name" required="required" placeholder="John Smith" />
                    <span class="field-error" translatable="cp.ne"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required="required" placeholder="email@domain.com" />
                    <span class="field-error" translatable="cp.ie"></span>
                </div>
                <div class="form-group">
                    <label for="feedback">Feedback</label>
                    <textarea name="feedback" id="feedback" required="required" placeholder="Awesome stuff!"></textarea>
                    <span class="field-error" translatable="cp.psf"></span>
                </div>
                <div class="form-group">
                    <label for="recaptcha" translatable="dp.sc"></label>
                    <div class="recaptcha" data-sitekey="{{ recaptcha_site_key }}" id="contact-recaptcha"></div>
                    <span class="field-error" translatable="dp.csc"></span>
                </div>
                <div class="form-group">
                    <ul class="button-container"><li><a href="#" translatable="cp.s" id="submit-button"></a></li></ul>
                </div>
            </fieldset>
            <fieldset class="loading" id="loading-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <div class="loader">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="success" id="success-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <h2 translatable="cp.tyfyf" class="text-center"></h2>
                    </div>
                </div>
            </fieldset>
            <fieldset class="error" id="error-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <h2 class="text-center" translatable="dp.swr"></h2>
                        <h3 class="text-center" id="ajax-error"></h3>
                        <div class="form-group">
                            <ul class="button-container"><li><a href="#" translatable="dp.ta" id="try-again-button"></a></li></ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-4 pull-left a_container">
        {% image '@MD5BusterBundle/Resources/public/images/ad_placeholder_300_600.png' output='images/ad_placeholder_300_600.png' %}
        <img src="{{ asset_url }}"  />
        {% endimage %}
    </div>
    <div class="clearfix"></div>
{% endspaceless %}