{% spaceless %}
    <ul class="footer-links">
        <li class="has-delimiter">
            <a>&copy; {{ 'now'|date('Y') }} md5buster.com</a>
        </li><li class="has-delimiter">
            <a href="{{ path('md5buster_cookies') }}">cookies</a>
        </li>
        <li class="has-delimiter">
            <a href="{{ path('md5buster_contact') }}">contact</a>
        </li>
        <li>
            <span translatable="f.pb"></span>&nbsp;
            <a href="https://deepmikoto.com" class="deepmikoto-link" target="_blank">deepmikoto</a>
        </li>
    </ul>
{% endspaceless %}