{% spaceless %}
    <div class="col-12">
        <h2 translatable="ep.le"></h2>
    </div>
    <div class="col-8 pull-left">
        <form target="" method="post" class="encrypt-form" id="encrypt-form">
            <fieldset id="main-fieldset">
                <div class="form-group">
                    <label for="text" translatable="ep.tte"></label>
                    <input type="text" name="text" id="text" required="required" />
                    <span class="field-error" translatable="ep.te"></span>
                </div>
                <div class="form-group">
                    <label for="recaptcha" translatable="dp.sc"></label>
                    <div class="recaptcha" data-sitekey="{{ recaptcha_site_key }}" id="encrypt-recaptcha"></div>
                    <span class="field-error" translatable="dp.csc"></span>
                </div>
                <div class="form-group">
                    <ul class="button-container"><li><a href="#" translatable="Encrypt" id="submit-button"></a></li></ul>
                </div>
            </fieldset>
            <fieldset class="loading" id="loading-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <div class="loader">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="result" id="result-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <fieldset class="subject">
                            <legend translatable="ep.tte"></legend>
                            <h5 class="text-center" id="text-to-encrypt"></h5>
                        </fieldset>
                        <h2 translatable="Encryption"></h2>
                        <div id="results-area"></div>
                        <div class="form-group">
                            <ul class="button-container"><li><a href="#" translatable="ep.ne" id="new-encryption-button"></a></li></ul>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="error" id="error-fieldset">
                <div class="block-loader-container">
                    <div class="block-loader">
                        <h2 class="text-center" translatable="dp.swr"></h2>
                        <h3 class="text-center" id="ajax-error"></h3>
                        <div class="form-group">
                            <ul class="button-container"><li><a href="#" translatable="dp.ta" id="try-again-button"></a></li></ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-4 pull-left a_container">
        {% image '@MD5BusterBundle/Resources/public/images/ad_placeholder_300_600.png' output='images/ad_placeholder_300_600.png' %}
        <img src="{{ asset_url }}"  />
        {% endimage %}
    </div>
    <div class="clearfix"></div>
{% endspaceless %}